absl-py==0.12.0
anyio==3.4.0
AnyQt==0.0.13
appnope==0.1.2
astunparse==1.6.3
attrs==21.3.0
backcall==0.2.0
baycomp==1.0.2
Bottleneck==1.3.2
CacheControl==0.12.10
cachetools==4.2.4
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
cloudpickle==2.0.0
commonmark==0.9.1
cuid==0.3
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
dictdiffer==0.9.0
dill==0.3.4
dm-tree==0.1.6
docutils==0.18.1
entrypoints==0.3
et-xmlfile==1.1.0
flatbuffers==2.0
fonttools==4.28.5
future==0.18.2
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.54.0
grpcio==1.43.0
h11==0.12.0
h5py==3.6.0
httpcore==0.13.7
httpx==0.19.0
idna==3.3
importlib-metadata==4.10.0
importlib-resources==5.4.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
jedi==0.18.1
joblib==1.1.0
jupyter-client==7.1.0
jupyter-core==4.9.1
keras==2.7.0
Keras-Preprocessing==1.1.2
keyring==23.5.0
keyrings.alt==4.1.0
kiwisolver==1.3.2
libclang==12.0.0
lockfile==0.12.2
Markdown==3.3.6
matplotlib==3.5.1
matplotlib-inline==0.1.3
msgpack==1.0.3
nest-asyncio==1.5.4
networkx==2.6.3
numpy==1.21.5
oauthlib==3.1.1
openpyxl==3.0.9
openTSNE==0.6.1
opt-einsum==3.3.0
orange-canvas-core==0.1.24
orange-widget-base==4.16.1
Orange3==3.31.0
packaging==21.3
pandas==1.3.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
promise==2.3
prompt-toolkit==3.0.24
protobuf==3.19.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.11.0
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.3
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
python-louvain==0.15
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qasync==0.22.0
qtconsole==5.2.2
QtPy==2.0.0
requests==2.26.0
requests-oauthlib==1.3.0
rfc3986==1.5.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
serverfiles==0.3.1
six==1.16.0
sklearn==0.0
sniffio==1.2.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-metadata==1.5.0
tensorflow-probability==0.15.0
termcolor==1.1.0
threadpoolctl==3.0.0
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==4.0.1
urllib3==1.26.7
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.13.3
xlrd==2.0.1
XlsxWriter==3.0.2
zipp==3.6.0
